body {
	background-color: #fefefe;
	margin: 0;
	padding: 0;
}

/* Diseño para pantallas grandes */
.hero {
	background-color: #edeff8;
	display: flex;
	padding: 20px 80px;
	height: 50vh;
	align-items: center;
	justify-content: space-between;
	gap: 150px;
	margin-top: 80px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 20px;
}

.hero_text {
	display: flex;
	flex-direction: column;
	font-size: xx-large;
	align-items: flex-start;
}

#hero_header {
	margin-top: 0px;
	font-family: "Patrick Hand", cursive;
	margin-bottom: 0px;
}

#hero_letras {
	font-family: "Rubik", sans-serif;
	font-size: x-large;
	margin-top: 4px;
	margin-bottom: 50px;
}

.hero-imagen {
	border-radius: 10px;
	width: auto;
	height: 300px;
}

#hero_letras {
	font-family: "Rubik", sans-serif;
}

/* Diseño para pantallas muy grandes */
@media (min-width: 1600px) {
	.hero {
		background-color: #edeff8;
		display: flex;
		padding: 20px 80px;
		height: 50vh;
		align-items: center;
		justify-content: space-around;
		margin-top: 80px;
		margin-left: 40px;
		margin-right: 40px;
		border-radius: 20px;
	}

	.hero_text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#hero_header {
		margin-top: 0px;
		font-family: "Patrick Hand", cursive;
		margin-bottom: 0px;
		font-size: 4rem;
	}

	#hero_letras {
		font-family: "Rubik", sans-serif;
		font-size: 2rem;
		margin-top: 4px;
		margin-bottom: 50px;
	}

	.hero-imagen {
		border-radius: 10px;
		width: auto;
		height: 400px;
	}

	.cards_categoria {
		display: flex;
		gap: 60px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.cards_recomendado {
		display: flex;
		gap: 45px;
		flex-wrap: wrap; /* permite que se acomoden en varias filas */
		justify-content: center;
	}
}

/* Diseño para pantallas medianas */
@media (max-width: 1200px) {
	.hero {
		flex-direction: column;
		gap: 40px;
		height: auto;
		margin: 20px;
		margin-top: 80px;
	}

	.hero-imagen {
		height: 300px;
		width: auto;
		object-fit: contain;
		border-radius: 10px;
	}

	.hero_text {
		font-size: large;
	}
}

/* Diseño para pantallas pequeñas */
@media (max-width: 576px) {
	.hero {
		gap: 20px;
		margin: 10px;
		margin-top: 80px;
	}

	.hero-imagen {
		height: 200px;
	}

	.productos {
		width: auto; /* botón ocupa todo el ancho */
	}
}

/* Diseño para pantallas pequeñas */
@media (min-width: 360px) and (max-width: 430px) {
	.hero {
		gap: 20px;
		margin: 10px;
		margin-top: 80px;
	}

	.hero-imagen {
		height: 200px;
	}

	.productos {
		width: auto; /* botón ocupa todo el ancho */
	}
}

.productos {
	background-color: #ff7e29;
	border: none;
	border-radius: 20px;
	width: 200px;
	height: 50px;
	color: white;
	font-size: large;
}

.categoria {
	margin-top: 70px;
	margin-left: 40px;
	margin-right: 40px;
}

#texto_categoria {
	font-family: "Rubik", sans-serif;
	text-align: center;
	margin-bottom: 30px;
}

.cards_categoria {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
}

.card_muestra {
	position: relative;
	overflow: hidden;
	height: 250px;
	width: 100%;
	max-width: 300px;
	border-radius: 10px;
}

.card_muestra img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.overlay_texto {
	position: absolute;
	top: 50%; /* centra verticalmente */
	left: 50%; /* centra horizontalmente */
	transform: translate(-50%, -50%);
	color: #fefefe;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	background-color: #ff7f298c; /* fondo semitransparente para contraste */
	padding: 10px 20px;
	border-radius: 12px;
	font-family: "Rubik", sans-serif;
}

.recomendado {
	margin: 70px;
}

#titular_recomendado {
	font-family: "Rubik", sans-serif;
	text-align: center;
	margin-bottom: 30px;
}

.cards_recomendado {
	display: flex;
	gap: 30px;
	flex-wrap: wrap; /* permite que se acomoden en varias filas */
	justify-content: center;
}

.card_recomendado {
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #fefefe;
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
	font-family: "Rubik", sans-serif;
}

.card_recomendado img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.text_recomendado {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

.text_recomendado h2 {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.last_section_card {
	display: flex;
	justify-content: space-between;
	margin-right: 15px;
}

.precio {
	font-weight: bold;
	color: #ff7e29;
	margin: 10px 0;
}

.add_cart {
	align-self: flex-end;
	background-color: #ff7e29;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	color: #fefefe;
	font-size: 1.5rem;
	cursor: pointer;
}
